@model IEnumerable<BITS.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Index" />

@{
    var start_date_FromUrl = Context.Request.Query["start_date"].ToString();
    var end_date_FromUrl = Context.Request.Query["end_date"].ToString();
}

<div class="container-fluid">

    <div class="row" id="main-row">
        <div class="col-2 column-1">
            <p class="column-1-products"><a asp-action="Index">Orders</a></p>

            <form asp-controller="BITSUser" asp-action="Index" method="get">
                <div class="row d-flex justify-content-between">
                    <p class="column-1-genres">Search By Date</p>
                    <button asp-controller="AdminOrders" asp-action="Index" type="submit" class="search-button">
                        <partial name="/Views/Shared/Icons/search.cshtml" />
                    </button>
                </div>
                <label>
                    Start Date <span class="text-danger">*</span>
                    <input class="search" type="date" name="start_date" value=@(start_date_FromUrl != "" ? start_date_FromUrl : "12-30-2000") />
                </label>
                <label>
                    End Date <span class="text-danger">*</span>
                    <input class="search" type="date" name="end_date" value=@(start_date_FromUrl != "" ? end_date_FromUrl : "12-30-2000") />
                </label>
            </form>
        </div>

        <div class="col-10 column-2" id="iframe-container"></div>

        <div class="col-10 column-2" id="right">
            <div class="row justify-content-between">
                <div class="col d-flex justify-content-start align-items-center">
                    <form asp-controller="AdminOrders" asp-action="Index">
                        <input class="search" type="search" placeholder="Search by Id" name="search" />
                        <button asp-controller="AdminOrders" asp-action="Index" type="submit" class="search-button">
                            <partial name="/Views/Shared/Icons/search.cshtml" />
                        </button>
                    </form>
                </div>
                <div class="create-container col d-flex justify-content-end align-items-center">
                    <button class="create" onclick="editIFrame('/AdminOrders/Create/','')"> + New Order</button>
                </div>
            </div>

            <div>
                <div class="UserDisplay">
                    <table class="UserTable">
                        <thead>
                            <tr>
                                <th> @Html.DisplayNameFor(model => model.UserId) </th>
                                <th> @Html.DisplayNameFor(model => model.OrderId) </th>
                                <th> @Html.DisplayNameFor(model => model.OriginalPrice) </th>
                                <th> @Html.DisplayNameFor(model => model.Subtotal) </th>
                                <th> @Html.DisplayNameFor(model => model.DiscountPrice) </th>
                                <th> @Html.DisplayNameFor(model => model.StreetAddress) </th>
                                <th> @Html.DisplayNameFor(model => model.PostCode) </th>
                                <th> @Html.DisplayNameFor(model => model.Suburb) </th>
                                <th> @Html.DisplayNameFor(model => model.State) </th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => item.UserId) </td>
                                    <td> @Html.DisplayFor(modelItem => item.OrderId) </td>
                                    <td> @Html.DisplayFor(modelItem => item.OriginalPrice) </td>
                                    <td> @Html.DisplayFor(modelItem => item.Subtotal) </td>
                                    <td> @Html.DisplayFor(modelItem => item.DiscountPrice) </td>
                                    <td> @Html.DisplayFor(modelItem => item.StreetAddress) </td>
                                    <td> @Html.DisplayFor(modelItem => item.PostCode) </td>
                                    <td> @Html.DisplayFor(modelItem => item.Suburb) </td>
                                    <td> @Html.DisplayFor(modelItem => item.State) </td>
                                    <td>
                                        <button onclick="editIFrame('/AdminOrders/Edit/','@item.OrderId')">
                                            <partial name="/Views/Shared/Icons/edit.cshtml" />
                                        </button>
                                        <a asp-action="DeleteFromIndex" asp-route-id="@item.OrderId">
                                            <partial name="/Views/Shared/Icons/delete.cshtml" />
                                        </a>
                                        <button onclick="editIFrame('/AdminOrders/Details/','@item.OrderId')">
                                            <partial name="/Views/Shared/Icons/details.cshtml" />
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>