@model IEnumerable<BITS.ViewModel.CartViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>User: @ViewBag.UserId</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>ProductType</th>
            <th>Price</th>
            <th>Picture</th>
            <th>Refund Type</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Picture)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RefundType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
                @* <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td> 
        </tr>
}
    </tbody>
</table>
