@model IEnumerable<BITS.Models.Product>
@using static BITS.Models.Genre

@{
    ViewData["Title"] = "Index";
}

<partial name="_Index" />

<div class="container-fluid">

    <div class="row" id="main-row">
        <div class="col-2 column-1">
            <p class="column-1-products"><a asp-action="Index">Products</a></p>
            
            <form asp-controller="Products" asp-action="Index">
                <div class="row d-flex justify-content-between">
                    <p class="column-1-genres">Search By Genres</p>
                    <button asp-controller="Products" asp-action="Index" type="submit" class="search-button">
                        <partial name="/Views/Shared/Icons/search.cshtml" />
                    </button>
                </div>
                @foreach (var genre in Enum.GetValues<Genre>())
                {
                    <div class="row d-flex justify-content-between align-items-center">
                        <label name="genres" for="@genre">@genre</label>
                        <input type="checkbox" name="genres" id="@genre" value="@genre" />
                    </div>
                }

            </form>
        </div>
        <div class="col-10 column-2" id="iframe-container">
        </div>
        <div class="col-10 column-2" id="right">
            <div class="row justify-content-between">
                <div class="col d-flex justify-content-start align-items-center">
                    <form asp-controller="Products" asp-action="Index">
                        <input class="search" type="search" placeholder="Search by Name" name="search"/>
                        <button asp-controller="Products" asp-action="Index" type="submit" class="search-button">
                            <partial name="/Views/Shared/Icons/search.cshtml" />
                        </button>
                    </form>
                </div>
                <div class="create-container col d-flex justify-content-end align-items-center">
                    @* <a class="create" asp-action="Create">+ New Product</a> *@
                    <button class="create" onclick="editIFrame('/Products/Create/','')"> + New Product</button>
                </div>
            </div>
            

            <div class="row column-3-index">
                <div class="col">@Html.DisplayNameFor(model => model.Name)</div>
                <div class="col">@Html.DisplayNameFor(model => model.Developer)</div>
                <div class="col">@Html.DisplayNameFor(model => model.Publisher)</div>
                <div class="col">@Html.DisplayNameFor(model => model.Description)</div>
                <div class="col">@Html.DisplayNameFor(model => model.Genres)</div>
                <div class="col">@Html.DisplayNameFor(model => model.Features)</div>
                <div class="col">@Html.DisplayNameFor(model => model.ReleaseDate)</div>
                <div class="col">@Html.DisplayNameFor(model => model.LastUpdated)</div>
                <div class="col" id="edit-delete-details"></div>
            </div>

            @foreach (var item in Model)
            {
                <div class="row column-3-value">
                    <div class="col">@Html.DisplayFor(modelItem => item.Name)</div>
                    <div class="col">@Html.DisplayFor(modelItem => item.Developer)</div>
                    <div class="col">@Html.DisplayFor(modelItem => item.Publisher)</div>
                    <div class="col">@Html.DisplayFor(modelItem => item.Description)</div>
                    <div class="col">
                        @foreach (var genre in item.Genres)
                        {
                            @genre.ToString()
                            @(genre != item.Genres.Last() ? ", " : "")
                        }
                    </div>
                    <div class="col">
                        @foreach (var feature in item.Features)
                        {
                            @feature.ToString()
                            @(feature != item.Features.Last() ? ", " : "")
                        }
                    </div>
                    <div class="col">@Html.DisplayFor(modelItem => item.ReleaseDate)</div>
                    <div class="col">@Html.DisplayFor(modelItem => item.LastUpdated)</div>
                    <div class="col d-flex justify-content-around align-items-start">
                        <button onclick="editIFrame('/Products/Edit/', @item.ProductId)">
                            <partial name="/Views/Shared/Icons/edit.cshtml" />
                        </button>
@*                         <a asp-action="Edit" asp-route-id="@item.ProductId">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </a> *@
                        <a asp-action="DeleteFromIndex" asp-route-id="@item.ProductId">
                            <partial name="/Views/Shared/Icons/delete.cshtml" />
                        </a>
                        <a asp-action="Details" asp-route-id="@item.ProductId">
                            <partial name="/Views/Shared/Icons/details.cshtml" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>