@model IEnumerable<BITS.Areas.Identity.Data.BITSUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Index" />

<div class="container-fluid">

    <div class="row" id="main-row">
        <div class="col-2 column-1">
            <p class="column-1-products"><a asp-action="Index">Users</a></p>
            
            <form asp-controller="BITSUser" asp-action="Index">
                <div class="row d-flex justify-content-between">
                    <p class="column-1-genres">Search By Roles</p>
                    <button asp-controller="BITSUser" asp-action="Index" type="submit" class="search-button">
                        <partial name="/Views/Shared/Icons/search.cshtml" />
                    </button>
                </div>
            </form>
        </div>

        <div class="col-10 column-2" id="iframe-container"></div>

        <div class="col-10 column-2" id="right">
            <div class="row justify-content-between">
                <div class="col d-flex justify-content-start align-items-center">
                    <form asp-controller="BITSUser" asp-action="Index">
                        <input class="search" type="search" placeholder="Search by Username" name="search"/>
                        <button asp-controller="BITSUser" asp-action="Index" type="submit" class="search-button">
                            <partial name="/Views/Shared/Icons/search.cshtml" />
                        </button>
                    </form>
                </div>
                <div class="create-container col d-flex justify-content-end align-items-center">
                    <button class="create" onclick="editIFrame('/BITSUser/Create/','')"> + New User</button>
                </div>
            </div>
            
            <div>
                <div class="UserDisplay">
                    <table class="UserTable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.Roles)</th>
                                <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Roles)</td>
                                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                    <td>
                                        <button onclick="editIFrame('/BITSUser/Edit/','@item.Id')">
                                            <partial name="/Views/Shared/Icons/edit.cshtml" />
                                        </button>
                                        <a asp-action="DeleteFromIndex" asp-route-id="@item.Id">
                                            <partial name="/Views/Shared/Icons/delete.cshtml" />
                                        </a>
                                        <button onclick="editIFrame('/BITSUser/Details/','@item.Id')">
                                            <partial name="/Views/Shared/Icons/details.cshtml" />
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
